<%- include("./partials/header") %>

<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Edit Task</a>
    </div>
</nav>

<div class="container mt-5">
    <form action="/update/todo/<%= todo._id %>" method="POST" class="d-flex">
        <input type="text" name="updateTodo" class="form-control" placeholder="<%= todo.todo %>">
        <input type="submit" value="Edit Task" class="btn btn-md btn-primary mx-2">
    </form>
</div>


<%- include("./partials/footer") %>